.achivement-container {
    margin-top: 150px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.achivement {
    width: 270px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.achivement-icon {
    width: 80px;
    height: 80px;
}

.outer-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C898F;
}

.inner-circle {
    width: 58px;
    height: 58px;
    top: 11px;
    left: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}


.achivement-text {
    width: auto;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.achivement-count {
    display: flex;
    justify-content: center;
    width: 92px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #000;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    .achivements {
        width: 100%;
        height: 350px;
        justify-content: space-evenly;
    }

     .achivement-container{
        margin-left: 135px;
        justify-content: space-around;
        gap: 35px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .achivement-container{
        gap: 20px;
        margin-left: 0px;
    }
    .achivement {
        width: 230px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .achivement-container {
        flex-wrap: wrap;
        height: 500px;
        gap: 30px;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .achivement-container {
        height: 240px;
        width: 300px;
        gap: 30px;
        margin-left: 40px;
        align-items: center;
        overflow-x: auto;
        justify-content: flex-start;
    }

    .achivement {
        min-width: 270px;
    }
}