.employee-container {
     margin-top: 150px;
     margin-left: 60px;
     width: auto;
     height: 564px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 30px;
     
 }

 .employee {
     height: 564px;
     display: flex;
     flex-direction: column;
     gap: 32px;
      justify-content: center;
     flex: 0 0 30%;
     scroll-snap-align: start;
     border-radius: 8px;
     overflow: hidden;
 }



 .employee-image {
     display: flex;
     align-items: end;
     justify-content: center;
     overflow: hidden;
     line-height: 0;
     width: 370px;
     height: 430px;
     border: 1px;
     border-radius: 4px;
     background-color: #f5f5f5;
 }


 .employee-discription {
     display: flex;
     flex-direction: column;
     width: 230px;
     height: 102px;
     gap: 16px;
 }

 .employee-details {
     width: 220px;
     height: 100px;
     display: flex;
     flex-direction: column;
     gap: 8px;
 }

 .employee-name {
     font-family: 'Inter';
     font-weight: 500;
     font-size: 32px;
     line-height: 30px;
     color: #000;
 }

 .position {
     width: 167px;
     height: 24px;
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     
     color: #000;
 }

 .social-apps {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     width: 104px;
     height: 24px;
     gap: 16px;
 }

 .service-container {
    margin-top: 80px;
     width: auto;
     height: 250px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     gap: 88px;
 }
 
 .service{
     width: 260px;
     height: 161px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 24px;
 }

 .service-image {
     width: 80px;
     height: 80px;
 }

 .service-content-container{
     width: 260px;
     height: 57px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 8px;
 }

 .service-title {
     height: 28px;
     font-family: 'Poppins';
     font-weight: 600;
     font-size: 20px;
     line-height: 28px;
     
     color: #000;
 }

 .service-content {
     width: 249px;
     height: 21px;
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
     
     display: flex;
     justify-content: center;
     color: #000;
 }

  @media screen and (min-width: 1024px) and (max-width: 1920px) {
    .employee-container {
        margin-left: 135px;
         justify-content: space-between;
         gap: 0px;
     }
}

 @media screen and (min-width: 1024px) and (max-width: 1300px) {
    .employee{
        flex: 0 0 50%;
     }
     .employee-container {
        min-width: 400px;
        overflow-x: scroll;
        justify-content: flex-start;
     }
 }

  @media screen and (min-width: 768px) and (max-width:1023px) {
    .employee-container{
        overflow-x: scroll;
        justify-content: flex-start;
        gap: 0px;
    }
    .employee{
        align-items: center;
        flex: 0 0 100%;
     }

    .service-container{
        height: 410px;
        flex-wrap: wrap;
     }
}

 @media screen and (max-width: 767px) {
    .employee-container{
        margin-left: 0px;
        flex-direction: column;
        overflow-x: hidden;
        scroll-snap-type: none;
        height: auto;
     }

     .employee{
        flex: 0 0 100%;
        align-items: flex-start;
     }

    .service-container{
        flex-direction: column;
        height: auto;
     }
 }