.service-container {
    margin-top: 80px;
     width: 100%;
     height: 250px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     gap: 88px;
 }
 
 .service{
     width: 260px;
     height: 161px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 24px;
 }

 .service-image {
     width: 80px;
     height: 80px;
 }

 .service-content-container{
     width: 260px;
     height: 57px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 8px;
 }

 .service-title {
     height: 28px;
     font-family: 'Poppins';
     font-weight: 600;
     font-size: 20px;
     line-height: 28px;
     
     color: #000;
 }

 .service-content {
     width: 249px;
     height: 21px;
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 14px;
     line-height: 21px;
     
     display: flex;
     justify-content: center;
     color: #000;
 }

  @media screen and (min-width: 768px) and (max-width:1023px) {
    .service-container{
        height: 410px;
        flex-wrap: wrap;
     }
  }

   @media screen and (max-width: 767px) {
    .service-container{
        flex-direction: column;
        height: auto;
     }
   }