.breadcrumb {
    margin-top: 50px;
    margin-left: 135px;
    width: 400px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.breadcrumb-item,
.breadcrumb-last {
        font-family: 'Poppins';
        font-size: 14px;
        line-height: 21px;
        color: #000;
    }

.breadcrumb-item{
    opacity: 0.5;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
   .breadcrumb {
     margin-left: 50px;
   }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
   .breadcrumb {
     margin-left: 50px;
   }
}

@media screen and (max-width: 767px) {
   .breadcrumb {
    width: auto;
     gap: 0px;
     margin-left: 0px;
   }
}