 .footer {
     margin-top: 80px;
     width: 100%;
     height: 440px;
     background-color: #000;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .footer-content-container {
     margin-top: 75px;
     height: 260px;
     display: flex;
     flex-direction: row;
     align-items: baseline;
     gap: 86px;
 }

 .footer-content {
     display: flex;
     flex-direction: column;
     gap: 15px;
 }
 .send-mail {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     width: 217px;
     height: 48px;
     border: 1.5px solid #fafafa;
     border-radius: 4px;
 }

 .input {
     width: 130px;
     height: 24px;
     opacity: 40%;
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #fafafa;
 }

 .send-icon {
     width: 24px;
     height: 24px;
     color: #FAFAFA;
 }


 .new-user {
     opacity: 70%;
     font-family: 'Poppins';
     font-weight: 500;
     font-size: 12px;
     line-height: 18px;
     color: #fafafa;
 }

 .links {
     display: flex;
     flex-direction: row;
     gap: 8px;
 }


 .download {
     width: 110px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 8px;
 }

 .social-media {
     width: 168px;
     height: 24px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 24px;
 }

 
   .footer-logo {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
    }
  
  .footer-quick-link {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #fafafa;
  }

  .quick-link-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #fafafa;
  }

  .copyright {
     margin-top: 40px;
     border-top: 1px solid rgba(255, 255, 255, 0.5);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 50px;
     opacity: 50%;
 }

 .copyright-content {
     margin-top: 30px;
     width: 337px;
     height: 24px;
     display: flex;
     flex-direction: row;
     gap: 6px;
 }

 .copyright-text {
     font-family: 'Poppins';
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #fff;
 }

 @media screen and (min-width: 1024px) and (max-width: 1300px) {

    .footer-content-container {
            gap: 25px;
            flex-wrap: nowrap;
        }
    
 }

 @media screen and (min-width: 768px) and (max-width: 1023px) {
     .footer {
            height: 700px;
        }

        .footer-content-container {
            justify-content: center;
            flex-wrap: wrap;
            height: 520px;
            gap: 50px;
        }
 }

    @media screen and (max-width: 767px) {
        .footer {
                height: 1600px;
            }
    
        .footer-content-container {
            width: 300px;
            height: 1400px;
            flex-direction: column;
            align-items: center;
        }

        .footer-content{
            width: 235px;
        }

        .address {
            width: 300px;
            display: flex;
            flex-wrap: wrap;
        }
    }