.product-suggestion {
    margin-left: 135px;
    margin-top: 130px;
    width: auto;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.related-container {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.red-box {
    width: 20px;
    height: 40px;
    background-color: #db4444;
    border-radius: 4px;
}

.related-item {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #db4444;
}

.related-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.product {
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.related-product-details {
    position: relative;
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background-color: #F5F5F5;
}

.related-product-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 26px;
    border-radius: 4px;
    gap: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fafafa;
    background-color: #db4444;
}

.related-product-image {
    position: absolute;
    top: 35px;
    left: 40px;
    width: 190px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-product-icons {
    width: 34px;
    height: 76px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 12px;
    left: 224px;
}

.heart,
.eye {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
}

.add-to-cart {
    display: none;
    position: absolute;
    top: 209px;
    width: 270px;
    height: 41px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #000;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.related-product-details:hover .add-to-cart {
    display: block;
}

.related-product-price-details {
    display: flex;
    flex-direction: column;
    width: 201px;
    height: 84px;
    gap: 8px;
}

.related-product-name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.related-product-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.related-product-offer-price {
    font-family: 'IPoppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #db4444;
}

.related-product-original-price {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-decoration: line-through;
    opacity: 50%;
}

.related-product-reviews-count {
    display: flex;
    align-items: center;
    gap: 8px;
}

.related-product-star {
    display: flex;
    height: 20px;
    gap: 4px;
}

.related-product-review-count {
    height: 21px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    opacity: 50%;
    padding-right: 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
   
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .product-suggestion {
        height: 840px;
        margin-left: 50px;
    }

    .related-products {
            width: 100%;
            flex-wrap: wrap;
            gap: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .product-suggestion {
            width: 85%;
            margin-left: 50px;
        }

        .related-products {
        overflow-x: scroll;
        gap: 50px;
        }
}

    @media screen and (max-width: 767px) {
        .product-suggestion {
            width: 100%;
            margin-left: 0px;
            flex-direction: column;
        }

        .related-products {
            flex-direction: row;
            overflow-x: scroll;
            align-items: center;
            width: 100%;
        }

    }